<!DOCTYPE html>
<html lang="en">

 <%- include('Partials/head.ejs')%>

 <body>
    <%- include('Partials/header.ejs') %>

    <main>
        <section id="home" class="hero">
            <h1><%= blogtitle %></h1>
            <p> <%= blogcontent %></p>
        </section>
    </main>

 </body>

</html>